body {
  background-color: black;
  text-align: center;
}
.header h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.header a {
  text-size: 16px;
  color: Aquamarine;
}
video {
  animation-iteration-count: infinite;
}
